/* Box-sizing border-box */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Default styles to make each box visible */
.box {
	color: white;
	font-family: sans-serif;
	font-size: 50px;
	text-align: center;
	padding: 10px;
	border-radius: 10%;
	margin: 10px;
}

/* Random colors for each box */
.col0 {background: #1abc9c;}
.col1 {background: #16a085;}
.col2 {background: #3498db;}
.col3 {background: #9b59b6;}
.col4 {background: #34495e;}
.col5 {background: #f1c40f;}
.col6 {background: #e67e22;}
.col7 {background: #e74c3c;}
.col8 {background: #bdc3c7;}
.col9 {background: #2ecc71;}

/* Flex box stuff below */
#container {
	
}

.row {
	display: flex;
/*	border: 10px solid mistyrose;*/
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}